@{
    ViewData["Title"] = "Home Page";
}

<section class="homepage2">
    <h1>OUR BEST <span>OFFERS</span></h1>
    <div class="underline">
        <img src="http://malikhassan.com/html/car-rental/html/images/underline.png" alt="">
    </div>
    <div class="p">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque id enim ac tortor malesuada<br> vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur tempor ex.</p>
    </div>
    </div>
    <div class="flex">
        <div class="row row-cols-1 row-cols-md-2 g-4  w-50 d-flex " style="margin-left: 360px;">
            <div class="left">
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-globe"></i>
                        <div class="card-body">
                            <h5 class="card-title">Featured Luxury Cars</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-optical-audio-fill"></i>
                        <div class="card-body">
                            <h5 class="card-title">Any Locations Rent</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-briefcase"></i>
                        <div class="card-body">
                            <h5 class="card-title">Insurance Included</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <img src="http://malikhassan.com/html/car-rental/html/images/featureCarImg.png" alt="">
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4  w-50">
            <div class="right ">
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="card-body">
                            <h5 class="card-title">Cleaning Included</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-tropical-storm"></i>
                        <div class="card-body">
                            <h5 class="card-title">Available 12 640 Cars</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-1">
                        <i class="bi bi-x-diamond-fill"></i>
                        <div class="card-body">
                            <h5 class="card-title">Online 24 / 7 Support</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
</section>
<section class="homepage3">
    <h1>VEHICLE MODELS <span>FOR RENT</span></h1>
    <div class="underline">
        <img src="http://malikhassan.com/html/car-rental/html/images/underline.png" alt="">
    </div>
    <div class="d-flex" style="margin-left: 500px;">
        <div class="left">
            <p>BMW 3-  SERIES</p>
            <p>AUDI</p>
            <p>MERSEDES-BENZ</p>
            <p>SUBARU</p>
            <p>TOYOTA COROLLA</p>
            <p>SUBARU IMPREZZA</p>
            <p>TOYOTAELEGANT</p>
        </div>
        <div class="center">
            <img src="http://malikhassan.com/html/car-rental/html/images/car01.jpg" style="width: 500px; height: 460px;" alt="">
        </div>
        <div class="right1">
            <h2>
                <span>$ 37.40</span> Rent Per Day
            </h2><hr>
            <p>Model <span>Limousine</span> </p><hr>
            <p>Doors <span>4</span> </p><hr>
            <p>Seats <span>5</span> </p><hr>
            <p>
                Luggage <span>
                    2 Suitcases / 2 Bags
                </span>
            </p><hr>
            <p>Transmission <span>Automatic</span> </p><hr>
            <p>Air conditioning <span>Yes</span> </p><hr>
            <p>Minimum age <span>25 years</span> </p>

        </div>
    </div>
</section>
<section class="homepage4">
    <div class="image2" style="background-image: url(http://malikhassan.com/html/car-rental/html/images/counter-bg.jpg); width: 100%; height: 40vh;">
        <div>
            <div class="displayflexdd">
                <div>
                    <i class="las la-users"></i>
                    <p>399</p>
                    <span>Happy Client</span>
                </div>
                <div>
                    <i class="las la-car"></i>
                    <p>499</p>
                    <span>Cars</span>
                </div>
                <div>
                    <i class="las la-laptop"></i>
                    <p>572</p>
                    <span>Project Finished</span>
                </div>
                <div>
                    <i class="las la-trophy"></i>
                    <p>206</p>
                    <span>Awards</span>
                </div>
            </div>
        </div>
</section>
